Moriah.Arezzo.GuitarGame/Service References/Services/PremiacaoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pepsi.Sorter.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pepsi.Sorter.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://moriah-10/PremiacaoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SequenciaPremiacaoDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ordem" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Premiacao" nillable="true" type="q2:ArrayOfboolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SequenciaPremiacaoDTO" nillable="true" type="tns:SequenciaPremiacaoDTO" />
  <xs:complexType name="PremioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDPremiacao" type="xs:int" />
      <xs:element minOccurs="0" name="IDPremio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PremioDTO" nillable="true" type="tns:PremioDTO" />
</xs:schema>